################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xlcall32
/bondlib.xlsx
/.vs/bondxll
/x64/Debug
/.vs
/x64/Release
